<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" allow-return-values="true">
	<listeners>
	<listener class-name="com.blc.qa.listener.ExtentReporterNGListener"></listener>
	</listeners>
 	 <test verbose="2" preserve-order="true" name="loginsuit">
    	<classes>
	 		 <class name="cases.LoginTest">
				<methods>
			 	<include name="loginScm"></include>
			 	</methods>			
			</class>  
		</classes>
 		
  	</test>
  	<!-- 
    <test verbose="2" preserve-order="true" name="operatemanage">
    	<classes>
    	
	 		 <class name="infocenter.test.operatemanage.IssueLogTest">
				<methods>
			 	<include name="login"></include>
			 	<include name="queryLogsByConditions" ></include>	
			 	</methods>			
			</class>  
			<class name="infocenter.test.operatemanage.OperatControlTest">
				<methods>
			 	<include name="login"></include>
			 	<include name="queryDataByConditions" ></include>	
			 	</methods>			
			</class> 

    	</classes>
  	</test>  -->
  <!-- 	  <listeners>
    		<listener class-name="com.sand.qa.report.HTMLReporter"/>
    		<listener class-name="com.sand.qa.listener.SeleniumListener"/>
    		<listener class-name="com.sand.qa.listener.SeleniumListenerAdapter"/>
	</listeners> -->
</suite>